<?xml version='1.0' encoding='utf-8'?>
<widget id="center.rscue.provider" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rscue center provider</name>
    <description>Remolcadores e información en el Delta del Tigre. Aplicación para partners.</description>
    <author email="info@rscue.center" href="https://rscue.center">Rscue center (c)</author>
    <hook src="hooks/010_add_android_keystore_config.js" type="after_platform_add" />
    <hook src="hooks/010_add_platform_class.js" type="after_prepare" />
    <engine name="android" spec="https://github.com/apache/cordova-android.git#6.1.0" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="https://maps.googleapis.com" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="android-targetSdkVersion" value="25" />
    <preference name="BackupWebStorage" value="local" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="Orientation" value="portrait" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>
    <plugin name="cordova-plugin-geolocation" spec="~2.4.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.0" />
    <plugin name="cordova-plugin-console" spec="~1.0.4" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.0" />
    <plugin name="cordova-plugin-device" spec="~1.1.3" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.0" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
    <plugin name="com.telerik.plugins.nativepagetransitions" spec="~0.6.5" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.0" />
    <plugin name="cordova.plugins.diagnostic" spec="~3.3.2" />
    <plugin name="cordova-sqlite-storage" spec="~1.5.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.5.0" />
    <plugin name="cordova-plugin-file" spec="~4.3.0" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.0" />
</widget>
