$d: 40;
$w: 5;
$t: 60;

page-new-assignment {
    .scroll-content {
        height: 100%
    }
    
    #map {
        height: 300px;
        margin: 10px 10px 0 10px;
    }

     .center {
         left: calc(50% - 20px);
     }

     ion-avatar img {
         max-width: 8rem !important;
         min-height: 8rem !important;
         border-radius: 4rem !important;
     }

    /* -- CIRCLE -- */

    .circle {
        width: $d+px;
        height: $d+px;
        position: relative;
        border-radius: 999px;
        box-shadow: inset 0 0 0 $w+px color($colors, 'danger');
        background-color: lighten(color($colors, 'danger'), 20%);
    }

    .l-half, .r-half {
        float: left;
        width: 50%;
        height: 100%;
        overflow: hidden;
        
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: $w+px solid color($colors, 'primary');
            animation-duration: $t+s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }
            
    }

    .l-half:before {
        border-right: none;
        border-top-left-radius: 999px;
        border-bottom-left-radius: 999px;
        transform-origin: center right;
        animation-name: l-rotate;
    }
        
    .r-half:before {
        border-left: none;
        border-top-right-radius: 999px;
        border-bottom-right-radius: 999px;
        transform-origin: center left;
        animation-name: r-rotate;
    }

    /* -- TIMER -- */

    .count {
        position: absolute;
        width: 100%;
        line-height: $d+px;
        text-align: center;
        font-weight: 800;
        font-size: (($d - ($w * 2)) / 2)+px;
        font-family: Helvetica;
        color: #fff;
        z-index: 2;
        animation: fadeout .5s ($t + 1)+s 1 linear;
        animation-fill-mode: forwards;
    }

     @keyframes l-rotate {
        0% { -webkit-transform: rotate(0deg); }
        50% { -webkit-transform: rotate(-180deg); }
        100% { -webkit-transform: rotate(-180deg); }
    }
    
    @keyframes r-rotate {
        0% { -webkit-transform: rotate(0deg); }
        50% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(-180deg); }
    }
}